body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.rickmorty {
  width: 35px;
  height: auto;
}

.title {
  color: rgb(53, 168, 53);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
}

.form-inline {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control {
  width: 100%;
  border: 2px solid rgb(69, 204, 69);
}

.form-control::placeholder {
  color: rgb(55, 204, 55);
  font-weight: 700;
}

.form-inline .search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(47, 213, 47);
  pointer-events: none;
}

.image-rickmorty {
  background-image: url("../images/FUNDO_2.jpg");
  background-position: bottom; 
  background-repeat: no-repeat;
  background-size: contain; 
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: #354338;
  color: white;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 350px;
  max-height: 160px;
  margin: 0 auto; 
}
.card img {
  width: 100%;
  min-height: 155px;
  height: auto;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 0.875rem;
}

.card-content {
  padding: 10px;
  flex-grow: 1;
}

.card-content h3 {
  margin: 0;
  font-size: 1.2em;
}

.status {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.status-vivo,
.status-morto,
.status-desconhecido {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.status-vivo {
  background-color: #4caf50;
}

.status-morto {
  background-color: rgb(226, 43, 43);
}

.status-desconhecido {
  background-color: #666262;
}

.location-title,
.seen-title {
  color: #b0b0b0;
  font-size: 0.9em;
}

.location,
.seen {
  font-size: 0.8em;
  margin: 0;
}

footer {
  padding: 10px;
}

.footer-first,
.footer-second {
  background-color: #151916;
  width: 100%;
  padding: 15px 10px;
}

.footer-p {
  font-size: 16px;
  color: rgb(55, 229, 55);
  margin: 0;
}

.full-width {
  width: 100%;
  background-color: #252525;
}

.card-body > p {
  margin: 2px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-link {
  color: rgb(33, 182, 33);
  background-color: black;
  border: 1px solid rgb(33, 182, 33);
  border-radius: 5px;
  text-decoration: none;
}

.page-link:hover {
  background-color: rgb(33, 182, 33);
  color: black;
}

@media (min-width: 576px) {
  .footer-p {
    margin: 16px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
    max-width: 190px;
    max-height: 290px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.675rem;
  }

  .location-title,
  .seen-title {
    font-size: 0.7em;
  }

  .location,
  .seen {
    font-size: 0.7em;
  }

  .image-rickmorty {
    width: 100%;
    height: 100%;
    min-height: 140vh;
    margin-bottom: 100px;
    padding: 30px;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .title {
    font-size: 2.1rem;
  }

  .card {
    width: 100%;
    max-width: 190px;
    max-height: 290px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.675rem;
  }

  .location-title,
  .seen-title {
    font-size: 0.7em;
  }

  .location,
  .seen {
    font-size: 0.6em;
  }

  .image-rickmorty {
    width: 100%;
    height: 170vh;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .title {
    font-size: 2rem;
  }

  .card {
    width: 100%;
    height: 100%;
    max-width: 210px;
    max-height: 290px;
  }

  .card-body {
    height: 100%;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.675rem;
  }

  .location-title,
  .seen-title {
    font-size: 0.7em;
  }

  .location,
  .seen {
    font-size: 0.7em;
  }

  .image-rickmorty {
    width: 100%;
    height: 160vh;
  }

}

@media screen and (min-width: 1200px) and (max-width: 2500px) {
  .title {
    font-size: 3rem;
  }

  .footer-p {
    font-size: 1.2em;
  }

  .card {
    width: 110%;
    max-width: 250px;
    max-height: 300px;
  }

  .card-body {
    height: 100%;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.775rem;
  }

  .location-title,
  .seen-title {
    font-size: 0.8em;
  }

  .location,
  .seen {
    font-size: 0.8em;
  }

  .image-rickmorty {
    width: 100%;
    height: 160vh;
  }

}
